  <!-- Feature Brands -->
  <div class="container " id="container-all ">

    <div class="row new-arrivals-row1">
      <div class="col col-lg-12 new-arrivals-head1">
        <h4>Feature Brands</h4>
        <a href="#" class="btn btn-primary" id="view-more">View More</a>
      </div>
    </div>

    <div class="row new-arrivals-row2 ">
      <div class="col-12 col-sm-12 col-md-6 col-sm-4 col-lg-4 ">
        <div class="deals-of-day-colmn1 ">
          <img src="../../../assets/images/feature-brands/1.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-sm-4 col-lg-4 ">
        <div class="deals-of-day-colmn1 ">
          <img src="../../../assets/images/feature-brands/2.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-sm-4 col-lg-4 ">
        <div class="deals-of-day-colmn1 ">
          <img src="../../../assets/images/feature-brands/3.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>

    </div>
  </div>