  <!-- New Arrivals -->
  <div class="container " id="container-all ">

    <div class="row new-arrivals-row1">
      <div class="col col-lg-12 new-arrivals-head1">
        <h4>New Arrivals</h4>
        <a href="#" class="btn btn-primary" id="view-more">View More</a>
      </div>
    </div>

    <div class="row new-arrivals-row2 ">

      <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
        <div class="new-arrivals-colmnn">
          <div class="card text-center" style="width: 100%;">
            <img src="../../../assets/images/new-aarivals/1.jpg" class="img-fluid" alt="Responsive image">
            <div class="img-back">
                <!-- <a href="#" class="btn btn-primary">Buy Now</a> -->
            </div>
            <div class="card-body">
              <h5 class="card-title">₹179</h5>
              <p class="card-text">Flipkart Back Cover for Realme 2 (Flexible Case)</p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
        <div class="new-arrivals-colmnn">
          <div class="card text-center" style="width: 100%;">
            <img src="../../../assets/images/new-aarivals/2.jpg" class="img-fluid" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">₹7,999</h5>
              <p class="card-text">Redmi 6 (Black, 32 GB) (3 GB RAM) (6 Inches) </p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
        <div class="new-arrivals-colmnn">
          <div class="card text-center" style="width: 100%;">
            <img src="../../../assets/images/new-aarivals/3.jpeg" class="img-fluid" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">₹27,990</h5>
              <p class="card-text">HP 14q Core i3 7th Gen - (4 GB/1 TB HDD/DOS) </p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
        <div class="new-arrivals-colmnn">
          <div class="card text-center" style="width: 100%;">
            <img src="../../../assets/images/new-aarivals/4.png" class="img-fluid" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">₹719</h5>
              <p class="card-text">Campus Sutra Men's Checkered Casual Blue Shirt </p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
        <div class="new-arrivals-colmnn">
          <div class="card text-center" style="width: 100%;">
            <img src="../../../assets/images/new-aarivals/5.jpg" class="img-fluid" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">₹1,125</h5>
              <p class="card-text">Jealous 21 Women Blue Color Heels new fresh</p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
        <div class="new-arrivals-colmnn">
          <div class="card text-center" style="width: 100%;">
            <img src="../../../assets/images/new-aarivals/6.jpg" class="img-fluid" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">₹14,499</h5>
              <p class="card-text">Flipkart Perfect Homes Atiu Glass 4 Seater Dining Set </p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>