.login-page{
    width: 50%;
    margin: 20px auto;
}

.login-page h5{
    background-color: rgb(100, 100, 75);
    color: white;
    text-align: center;
    padding: 15px 0;
}

.login-page .sign-up{
    float: right;
    background-color: rgb(180, 72, 10);
}

mat-spinner{
    margin: 200px auto;
}

.err_msg{
    color: red;
}