.btn{
    display:block;
    width: 12rem;
    text-align: center;
    border-radius: 0;
    margin-top: 20px;
}
.body-case{
    display: block;
    margin-top: 20px;
    margin-left: 50px;
}

.users tr td i{
cursor: pointer;
}