  <!-- footer start her -->
  <footer class="footer ">
    <div class="container footer-container ">
      <div class="row footer-row">


        <div class="col-6 col-sm-3 col-md-3 col-lg-1 col-xl-1">
          <div class="fhead ">
            <div class="fooer-col ">ABOUT</div>
            <a href="# "> Contact Us </a>
            <a href="# ">About Us</a>
            <a href="# ">Careers </a>
            <a href="# ">Flipkart Stories </a>
            <a href="# ">Press </a>
          </div>
        </div>

        <div class="col-6 col-sm-3 col-md-3 col-lg-1 col-xl-1">
          <div class="fhead ">
            <div class="fooer-col ">HELP</div>
            <a href="# "> Payments </a>
            <a href="# ">Shipping</a>
            <a href="# ">Cancellation </a>
            <a href="#">Returns</a>
            <a href="# ">FAQ </a>
            <a href="# ">Press </a>
          </div>
        </div>

        <div class="col-6 col-sm-3 col-md-3 col-lg-1 col-xl-1">
          <div class="fhead ">
            <div class="fooer-col ">POLICY</div>
            <a href="# "> Return Policy </a>
            <a href="# ">Terms Of User</a>
            <a href="# ">Security </a>
            <a href="# ">Privacy </a>
            <a href="# ">Sitemap </a>
            <a href="# ">EPR Compliance </a>
          </div>
        </div>

        <div class="col-6 col-sm-3 col-md-3 col-lg-1 col-xl-1">
          <div class="fhead ">
            <div class="fooer-col ">SOCIAL</div>
            <a href="# "> Facebook </a>
            <a href="# "> Twitter</a>
            <a href="# ">Youtube </a>
            <a href="# "> Google Plus </a>
            <a href="# ">Press </a>
          </div>
        </div>

        <div class="col-6 col-sm-3 col-md-3 col-lg-1 col-xl-1">
        </div>
        <!-- <div class="vl "></div> -->

        <div class="col col-md-3 col-lg-3 col-xl-3">
          <div class="fhead2 ">
            <div class="fooer-col ">Mail Us:</div>
            <pre>
Flipkart Internet Pvt Ltd,
Block-B, Ground Floor,
Embassy Tech Village,
Outer Ring Road,
Varthur Hobli,
Bengaluru East Taluk,
Bengaluru District,
Karnataka, India, 560103.
</pre>
          </div>
        </div>
        <div class="col col-md-3 col-lg-3 col-xl-3">
          <div class="fhead2 ">
            <div class="fooer-col ">Registered Office Address:</div>
            <pre>
Flipkart Internet Pvt Ltd,
Vaishnavi Summit,
Ground Floor, 7th Main,
80 Feet Road, 3rd Block,
Koramangala,
Bengaluru - 560034
India
Telephone: 1800 208 9898
</pre>
          </div>
        </div>
        <div class="hl "></div>
      </div>

      <div class="row last-row">
        <!-- <div class="col-6 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        </div> -->
        <div class="col-6 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <p>copyrgiths@flipkart.com</p>
        </div>
        <div class="col-6 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <p>
            <span class="oi oi-thumb-up"></span> Facebook</p>
        </div>
        <div class="col-6 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <p>
            <span class="oi oi-video"></span> Youtube</p>
        </div>
        <div class="col-6 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <p>
            <span class="oi oi-person"></span> Twitter</p>
        </div>
        <!-- <div class="col-6 col-sm-2 col-md-2 col-lg-2 col-xl-2">

        </div> -->
      </div>
    </div>
  </footer>
  <!-- footer end here -->