.login{
    text-align: center;
    margin: 10px auto;
    width: 50%;
}

.login h4{
    background-color: dodgerblue;
    color: white;
    padding: 15px 0;
}

.login .form-div{
    width: 100%;
    margin: 10px auto;
    align-items: center;

}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;

  }

  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
