<div class="login">
    <h4>login</h4>
    <div class="form-div" >
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                <mat-icon class="eye-icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                    'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-checkbox>Remember Me</mat-checkbox>
        </div>
        <a mat-raised-button routerLink=".">Login</a>
        <a mat-raised-button routerLink="/register">Sign Up</a>

    </div>
</div>