<div class="reg-page">
  <!-- Registration From -->
  <h5>Registration Form </h5>
  <form>
    <div class="form-group">
      <label for="exampleInputText">User Name</label>
      <input type="text" class="form-control" id="exampleInputUser1" aria-describedby="emailHelp" [(ngModel)]="user.username"
        name="username" placeholder="Enter username">

      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="user.email"
        name="email" placeholder="Enter email">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.password" name="password"
        placeholder="Password">

      <label for="exampleInputRePassword2">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword2" [(ngModel)]="user.repassword" name="repassword"
        placeholder="Re Enter Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" value=false [(ngModel)]="user.condition" name="condition" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1" >Accept All Conditions</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="registration()">Submit</button>
  </form>
</div>