<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="search-icon">search</mat-icon>
    <mat-icon matTooltip="Home" class="home-icon" routerLink = "/home" routerLinkActive = "true">home</mat-icon>
    <mat-icon matTooltip="Cart" class="cart-icon">local_grocery_store</mat-icon>
    <mat-icon matTooltip="Login" class="login-icon" routerLink = "/login" routerLinkActive = "true">person_add</mat-icon>
    <mat-icon matTooltip="Notifications" class="notification-icon">notifications</mat-icon>
    <mat-icon matTooltip="Apps" class="apps-icon">apps</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
