  <!-- laptop starts here -->
  <div class="container laptop-container">
    <div class="row">

      <div class="col-1">
        <div class="aside-images">
          <div class="image1">
            <img src="../../assets/images/laptops/img-1.jpeg" alt="hp laptop" class="img-fluid" id="img-1">
            <img src="../../assets/images/laptops/img-2.jpeg" alt="hp laptop" class="img-fluid" id="img-2">
            <img src="../../assets/images/laptops/img-3.jpeg" alt="hp laptop" class="img-fluid" id="img-3">
            <img src="../../assets/images/laptops/img-4.jpeg" alt="hp laptop" class="img-fluid" id="img-4">
            <img src="../../assets/images/laptops/img-5.jpeg" alt="hp laptop" class="img-fluid" id="img-5">
            <img src="../../assets/images/laptops/img-6.jpeg" alt="hp laptop" class="img-fluid" id="img-6">
          </div>
        </div>
      </div>

      <div class="col-4">
          <div class="show-images">
            <img src="../../assets/images/laptops/img-1.jpeg" alt="" class="img-fluid" id="img-hovering">
          </div>
          <div class="row">
            <div class="col-xl-6">
              <div class="add-to-cart">
                <h5> <i class="fas fa-shopping-cart"></i> Add to Cart</h5>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="buy-now">
                <div class="buy-content">
                <h5> <span class="oi oi-bolt"></span> Buy Now</h5>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="col-7">
          <div class="laptop-details">
            <div class="lap-features">
              <h5>Dell Inspiron 15 3000 Core i3 6th Gen - (4 GB/1 TB HDD/Windows 10 Home) 3567 Laptop  (15.6 inch, Foggy Night, 2.25 kg, With MS Office)
                </h5>
              <p class="star-rating">4.3
                <i class="fas fa-star"></i>
              </p>
              <p>2,135 Ratings & 288 Reviews</p>
            </div>

            <div class="lap-price">
                <h4> <i class="fas fa-rupee-sign"></i> 30, 490</h4>
              <p id="old-price"><i class="fas fa-rupee-sign"></i> 39,096</p>
              <p class="price-off">20% off</p>
              <ul>
                <li>
                  No cost EMI ₹4,832/month. Standard EMI also available <a href="#">View Plans</a> 
                  </li>
                <li>
                    Get upto ₹7500 off on <a href="#">exchangeBuy with Exchange</a>
                </li>
                <li>
                    Bank Offer10% Instant Discount on Mastercard for First Online Payment <a href="#">T&C</a> 
                  </li>
                <li>
                    Bank OfferExtra 5% off* with Axis Bank Buzz Credit Card <a href="#">T&C</a> 
                </li>
              </ul>

          </div>
    </div>
  </div>