  <!-- carousel sub start -->
  <!-- Deals of Day section -->
  <div class="container " id="container-all ">
    <div class="row deals-of-day-row1 ">
      <div class="col col-lg-12 deals-of-day-head1 ">
        <h4>Deals of the Day</h4>
        <a href="#" class="btn btn-primary" id="view-more">View More</a>
      </div>
    </div>

    <div id="mycarousel-sub" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-item-sub">
          <div class="row">
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/1.jpg" class="img-fluid card-img-top" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹43,490</h5>
                    <p class="card-text">Dell Inspiron 15 3000 Core i3 6th Gen-3567 Laptop</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/2.jpg" class="img-fluid card-img-top" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹14,999</h5>
                    <p class="card-text">Asus Zenfone Max Pro M1 (Black, 64 GB)(6 GB RAM)</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/3.jpg" class="img-fluid" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹67,500</h5>
                    <p class="card-text">Sony Android 123.2cm (49 inch) FullHD LEDSmart TV</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/4.jpeg" class="img-fluid" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹13,999</h5>
                    <p class="card-text">Homes Crete Leatherette and Fabric 3 Seater Sofa</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/5.jpg" class="img-fluid" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹2,399</h5>
                    <p class="card-text">Philips HL7510/00 550 W Mixer Grinder  (White, 3 Jars) </p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/6.jpg" class="img-fluid" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹12,990</h5>
                    <p class="card-text">Godrej 185 L Direct Cool Single Door 3 Star Refrigerator</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- second item -->
        <div class="carousel-item">
          <div class="row">
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/7.jpg" class="img-fluid" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹879</h5>
                    <p class="card-text">Peter England University Slim Men Dark Blue Jeans </p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/8.jpg" class="img-fluid" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹1,519</h5>
                    <p class="card-text">Peter England Men Solid Formal White, Blue Shirt</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/9.jpg" class="img-fluid" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹2,922</h5>
                    <p class="card-text">Rare Casual 3/4th Sleeve Solid Women's Pink Top</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/10.jpg" class="img-fluid" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹1,922</h5>
                    <p class="card-text">Carlton London Women BLACK Heels Heel Height:3 inch</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/11.jpg" class="img-fluid" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹532</h5>
                    <p class="card-text">United Colors of Benetton Self Design Neck Casual Sweters </p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
              <div class="sub-carousel-colmnn">
                <div class="card text-center" style="width: 100%;">
                  <img src="../../../assets/images/multi-carousel/12.jpg" class="img-fluid" alt="Responsive image">
                  <div class="card-body">
                    <h5 class="card-title">₹399</h5>
                    <p class="card-text">Miss & Chief Sweet Tedddy Normal Fur - 33 cm  (Pink)</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#mycarousel-sub" id="carousel-control-prev2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#mycarousel-sub" id="carousel-control-next2" role="button" data-slide="next">
        <span class="carousel-control-next-icon " aria-hidden="true "></span>
        <span class="sr-only ">Next</span>
      </a>
    </div>
  </div>

  <!-- carousel sub end -->