<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">
    <img src="../../assets/images/sell-flipkart/seller-hub-logo.png" alt="flipkart Sell-logo" width="200px" height="60px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-sell" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-sell">
    <form class="form-inline my-2 my-lg-0">

      <form class="form-inline" id="sell-form">
        <div class="form-group mb-2">
          <input type="text" class="form-control" id="InputEmail2" placeholder="Username">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>

        <a type="submit" class="btn btn-primary" id="sell-btn1">Login</a>
      </form>
    </form>
  </div>
</nav>
<div class="container nav-container-sell">
  <div class="row">
    <div class="col-xl-12">
      <div class="anchor-sell">
        <a href="#" class="link-sell">HOME</a>
        <a href="#" class="link-sell">SELL SMART</a>
        <a href="#" class="link-sell">PRICING</a>
        <a href="#" class="link-sell">FAQS</a>
        <a href="#" class="link-sell">BENEFITS</a>
        <a href="#" class="link-sell">FLIPKART.COM</a>
      </div>

    </div>
  </div>
</div>

<!-- banner of sell flipkart -->
<div class="container banner-container img-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="sell-regi">
        <h4>Register Today</h4>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="sell-email" aria-describedby="emailHelp" placeholder="Eamil Address">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="sell-phone" aria-describedby="emailHelp" placeholder="Mobile Number">
          </div>
          <button type="submit" class="btn btn-primary" id="sell-btn-regi">
            <span class="oi oi-cart"></span> START SELLING</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container grow-business">
  <div class="row head-grow-row">
    <div class="col-xl-12">
      <h2>Grow your business with the leader in Indian e-commerce </h2>
    </div>
  </div>
  <div class="row grow-row">
    <div class="col-xl-4 col-lg-4 col-md-4">
      <div class="grow-div1">
        <div class="grow-icon">
          <img src="../../assets/images/sell-flipkart/search.png" class="img-fluid" alt="search">
        </div>
        <h1>10 CRORE</h1>
        <p>customers looking to buy your products</p>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4">
      <div class="grow-div1">
        <div class="grow-icon">
          <img src="../../assets/images/sell-flipkart/hands.png" class="img-fluid" alt="hands">
        </div>
        <h1>1,00,000+</h1>
        <p>businesses growing rapidly with us</p>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4">
      <div class="grow-div1">
        <div class="grow-icon">
          <img src="../../assets/images/sell-flipkart/goldcoins.png" class="img-fluid" alt="goldcoins">
        </div>
        <h1>7-15 days </h1>
        <p>to process your payments</p>
      </div>
    </div>

  </div>

  <div class="row steps-start-row">
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
      <div class="content-start">
        <h2>Apne Sapne Jee Kar Dekho</h2>
        <h5>View these incredible stories of how Flipkart can fulfill your business wishes</h5>
        <div class="start-details">
          <div class="start-para-div1">
            <p class="p1">All you need is to have a business of your own</p>
          </div>
          <div class="start-para-div1">
            <p class="start-details-p2">&amp</p>
            <p class="start-details-para">GSTN ID</p>
            <p class="start-details-para">PAN CARD</p>
            <p class="start-details-para">BANK ACCOUNT</p>
            <p class="start-details-para">Just in 1Product</p>
          </div>

        </div>
        <p>Register in less than 15 minutes </p>
        <button type="submit" class="btn btn-primary" id="sell-btn-regi">
          <span class="oi oi-cart"></span> START SELLING</button>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
      <div class="video-start">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2z3nFGGXDLM" allowfullscreen></iframe>
        </div>
        <a href="#"> View More Stories</a>
      </div>


    </div>
  </div>
</div>