<div class="container download-div-container">
  <div class="row download-div-row">
    <div class="col-xl-12">
      <div class="download-div">
        <div class="card bg-dark text-white">
          <img class="card-img" src="../../assets/images/downloap-app/3.png" alt="Card image">
          <div class="card-img-overlay">
            <div class="head-img-dowload">
              <img src="../../assets/images/downloap-app/fk-logo_9fddff.png" alt="flipkart-logo" class="img-fluid" id="down-fk-logo">
              <h3>INDIA'S MOST POPULAR SHOPPING APP</h3>

            </div>
            <div class="app-links">
              <a href="https://itunes.apple.com/in/app/flipkart/id742044692" target="_blank">
                <img src="../../assets/images/downloap-app/App-Store_5e0240.png" alt="flipkart-logo" class="img-fluid" id="app-img1">
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.flipkart.android" target="_blank">
                <img src="../../assets/images/downloap-app/Play-Store_3fb30d.png" alt="flipkart-logo" class="img-fluid" id="app-img2">
              </a>
              <a href="https://flipkart-amazing-discounts-everyday.en.9apps.com/" target="_blank">
                <img src="../../assets/images/downloap-app/nineapp-logo_d35eea.png" alt="flipkart-logo" class="img-fluid" id="app-img3">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>