<div class="registration">
  <h4>Registration</h4>
  <mat-horizontal-stepper linear #stepper>

    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable" label="Step 1">
      <form [formGroup]="firstFormGroup" class="form-sterp">
        <ng-template matStepLabel>Fill out Basic Details</ng-template>
        <div class="example-container">

          <mat-form-field>
            <input matInput placeholder="Enter your Username" [(ngModel)]="user.username" formControlName="firstCtrl" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Enter your email" [(ngModel)]="user.email" formControlName="firstCtrl" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="password" matInput placeholder="Enter your password" [(ngModel)]="user.password"
            formControlName="firstCtrl" required>
          </mat-form-field>

          <mat-form-field>
            <input type="password" matInput placeholder="Enter your password" [(ngModel)]="user.repassword"
            formControlName="firstCtrl" required>
          </mat-form-field>

          <input class="ng-hide" id="input-file-id" multiple type="file" [(ngModel)]="user.userpic">
          <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>

          <mat-radio-group>
          <label for="input-radio" class="radio-label" >Gender :</label>
            <mat-radio-button  value="male" (click)='gender("male")'>Male</mat-radio-button>
            <mat-radio-button  value="female" (click)='gender("female")'>Female</mat-radio-button >
            <mat-radio-button  value="others" (click)='gender("others")'>Others</mat-radio-button>
          </mat-radio-group>
          
          <section class="example-section">
          <label for="input-checkbox" class="checkbox-label" >Courses :</label>
              <mat-checkbox class="example-margin" [(ngModel)]="user.courses" >Angular</mat-checkbox>
              <mat-checkbox class="example-margin" [(ngModel)]="user.courses" >Node.js</mat-checkbox>
            </section>
        </div>

        <div>
          <button mat-raised-button matStepperNext >Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step label="Step 2" [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>

        <div class="example-container">


          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="First name" [(ngModel)]="user.firstname" formControlName="secondCtrl">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Last Name" [(ngModel)]="user.lastname" formControlName="secondCtrl">
                </mat-form-field>
              </td>
            </tr>
          </table>

          <p>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Address 1" [(ngModel)]="user.address_1" formControlName="secondCtrl">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Address 2" [(ngModel)]="user.address_2" formControlName="secondCtrl">
            </mat-form-field>
          </p>

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="City" [(ngModel)]="user.city" formControlName="secondCtrl">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="State" [(ngModel)]="user.state" formControlName="secondCtrl">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput #postalCode maxlength="6" placeholder="Postal Code" [(ngModel)]="user.postal_code" value="" formControlName="secondCtrl">
                  <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <mat-form-field class="example-full-width">
            <span matPrefix>+91 &nbsp;</span>
            <input type="tel" matInput maxlength="10" placeholder="Phone Number" [(ngModel)]="user.phone_number" formControlName="secondCtrl">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker"  (change)="date(picker)" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </form>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>


    <mat-step label="Step 3">
      <h5>Congratulations!! </h5>
      <p>You're welcome.</p>
      <a mat-raised-button mat-raised-button (click)="showDetails()" routerLink="">See Details</a>

    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</div>