<div class="login">
    <h4>Registration</h4>
    <div class="form-div">
        <div class="example-container">

            <form class="example-form">
              
                <table class="example-full-width" cellspacing="0"><tr>
                  <td><mat-form-field class="example-full-width">
                    <input matInput placeholder="First name">
                  </mat-form-field></td>
                  <td><mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name">
                  </mat-form-field></td>
                </tr></table>
              
                <p>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Address 1">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Address 2">
                  </mat-form-field>
                </p>
              
                <table class="example-full-width" cellspacing="0"><tr>
                  <td><mat-form-field class="example-full-width">
                    <input matInput placeholder="City">
                  </mat-form-field></td>
                  <td><mat-form-field class="example-full-width">
                    <input matInput placeholder="State">
                  </mat-form-field></td>
                  <td><mat-form-field class="example-full-width">
                    <input matInput #postalCode maxlength="6" placeholder="Postal Code" value="">
                    <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                  </mat-form-field></td>
                </tr></table>
                <mat-form-field class="example-full-width">
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="tel" matInput  maxlength="10" placeholder="Phone Number">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
              </form>
              

                
                
              <mat-form-field>
                  <input matInput placeholder="Enter your email" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
  
              <mat-form-field>
                  <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                  <mat-icon class="eye-icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                      'visibility'}}</mat-icon>
              </mat-form-field>


        </div>
        <a mat-raised-button routerLink=".">Sign Up</a>

    </div>
</div>