.registration{
    text-align: center;
    margin: 10px auto;
    width: 50%;
}

.registration h4{
    background-color: dodgerblue;
    color: white;
    padding: 15px 0;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    position: relative;
    width: 70%;
  }

  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
    margin-left: 10px;
  }
.radio-label{
  margin-right: 20px;
}  
.example-margin {
  margin: 0 10px;
}