<nav class="navbar-second">
  <ul class="navbar-second-ul">
    <li class="navbar-second-li">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" href="#">Electronics</a>
        <ul class="dropdown-menu multi-column columns-2">
          <div class="row">
            <div class="col-sm-6">
              <ul class="multi-column-dropdown">
                <li>
                  <a class="dropdown-header" routerLink="/electronics/mobiles">Mobile</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">iphone</a>
                </li>
                <li>
                  <a href="#">samsung</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="multi-column-dropdown">
                <li>
                  <a class="dropdown-header" routerLink="/electronics/laptops">Laptop</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">Dell</a>
                </li>
                <li>
                  <a href="#">HP</a>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </li>
    <li class="navbar-second-li">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" href="#">Home & Furniture</a>
        <ul class="dropdown-menu multi-column columns-2">
          <div class="row">
            <div class="col-sm-6">
              <ul class="multi-column-dropdown">
                <li>
                  <a class="dropdown-header" href="Home&Furnitures/kitchen.html">Kitchen</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="multi-column-dropdown">
                <li>
                  <a class="dropdown-header" href="Home&Furnitures/furniture.html">Furniture</a>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </li>
    <li class="navbar-second-li">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" href="#">Men</a>
        <ul class="dropdown-menu multi-column columns-2">
          <div class="row">
            <div class="col-sm-6">
              <ul class="multi-column-dropdown">
                <li>
                  <a class="dropdown-header" href="men/footwear.html">Footwear</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="multi-column-dropdown">
                <li>
                  <a class="dropdown-header" href="#">Clothing</a>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </li>
    <li class="navbar-second-li">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" href="#">Women</a>
        <ul class="dropdown-menu multi-column columns-2">
          <div class="row">
            <div class="col-sm-6">
              <ul class="multi-column-dropdown">
                <li>
                  <a class="dropdown-header" href="women/footwear.html">Footwear</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="multi-column-dropdown">
                <li>
                  <a class="dropdown-header" href="#">Clothing</a>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </li>
  </ul>
</nav>